#player,#player a{ color:#fff; }
#player{ background:url(sizerAndVol.png); background-position:right; }
#player .mainImage{ background:url(main.png); }

#player #baseLeft{ width:40px; }
#player #baseRight{ width:40px;}
#player .button{  width:22px; }
#player #play{ background:url(playBtn.png); }
#player #play,#player #pause{ left:12px; }
#player #previous{ left:8px; }
#player #next{ left:15px; }
#player #title{ left:25px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:22px;  }
#player #list{ right:5px; }

#player #seeker{ right:120px; }
#player #seekerBase{ border-color:#dbf8ff; }
#player #seekerBuffered{ background-color:#86caff; }
#player #seekerSliderBase{ background-color:#fff; }

#player #volume{ width:50px; right:33px; }
#player #volumeSlider{ width:14px; background:url(sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#60AFFF; color:#1265ff; }
#playlist h3{ background:url(bar.jpg); text-shadow: white 1px 1px; }
#playlist .even{background-color:#FFF;}
#playlist .odd{ background-color:#dff6ff;}
#playlist .focus{ background-color:#0099FF; color:#FFF;}
